.form-container{
    width: 100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/bg_image.jpg');
    background-size: cover;
}
.form-wrapper{
    background-color:#FFD7C4;
    border-radius: 10px;
    padding:20px 40px;
    width: 100%;
    max-width: 600px;
    margin: 0px 15px;
    box-shadow: 2px 2px 4px #1E201E;
}
.form-wrapper form{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
    align-items: center;
}
.form-wrapper form .input-wrapper{
    width: 100%;
}
.form-wrapper form input{
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    padding:13px 10px;
    border: none;
    border-radius: 4px;
}
.form-wrapper .heading h1{
    font-weight: 700;
    font-size: 38px;
    line-height: 42px;
}
.form-wrapper select{
    background-color: white;
    width:100%;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    padding:13px 10px;
}
.form-error-text {
    font-size: 16px;
    font-weight:700;
    line-height: 20px;
    text-align: center;
    padding-top: 10px;
    color: #1E201E;
    text-transform: capitalize;
}
.form-navlink p span{
    font-size: 18px;
    line-height:22px;
    cursor: pointer;
    font-weight:700;
}
.form-navlink p{
    font-size: 18px;
    line-height:22px;
    font-weight: 400;
}
.forgot-password {
    text-align: center;
    padding-bottom: 10px;
}
@media(max-width:767px) {
    .form-navlink p span,.form-navlink p{
        font-size: 16px;
        line-height:20px;
    }
    .form-wrapper .heading h1{ 
        font-size: 25px;
        line-height: 30px;
    }
    .form-wrapper{
        padding: 15px;
    }
    .form-wrapper form input,.form-wrapper select{
        font-size: 16px;
        line-height:20px;
    }
    .form-wrapper select{
        padding: 10px;
    }
    .form-wrapper form {
        row-gap: 15px;
    }
}